#wheel {
  display:inline-block;
  position:relative;
  overflow:hidden;
}

#wheel:after {
  content:"";
  background:red;
  border:2px solid white;
  position:absolute;
  top:-7px;
  left:50%;
  width:16px;
  height:16px;
  margin-left:-8px;
  transform: rotate(45deg)
}

.color-input {
  height: 2.5rem;
}

.color-field {
  max-width: 3rem;
}

.color-field .sp-dd {
  line-height: 2.5rem !important;
}